@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: var(--font-inter-sans);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-background-dark: var(--background-dark);
  --color-foreground-dark: var(--foreground-dark);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-dark: var(--primary-dark);
  --color-primary-foreground-dark: var(--primary-foreground-dark);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary-dark: var(--secondary-dark);
  --color-secondary-foreground-dark: var(--secondary-foreground-dark);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-card-dark: var(--card-dark);
  --color-card-foreground-dark: var(--card-foreground-dark);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover-dark: var(--popover-dark);
  --color-popover-foreground-dark: var(--popover-foreground-dark);

  --color-destructive: var(--destructive);

  --color-border: var(--border);
  --color-border-dark: var(--border-dark);

  --color-input: var(--input);
  --color-input-dark: var(--input-dark);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted-dark: var(--muted-dark);
  --color-muted-foreground-dark: var(--muted-foreground-dark);

  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-background: var(--sidebar-background);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: hsl(220, 100%, 99%);
  --foreground: hsl(250, 23%, 5%);
  --background-dark: hsl(240, 18%, 3%);
  --foreground-dark: hsl(0, 0%, 94%);

  --primary: hsl(246, 50%, 25%);
  --primary-foreground: hsl(0, 0%, 94%);
  --primary-dark: hsl(249, 85%, 53%);
  --primary-foreground-dark: hsl(0, 0%, 94%);

  --secondary: hsl(0, 0%, 100%);
  --secondary-foreground: hsl(249, 13%, 20%);
  --secondary-dark: hsl(240, 13%, 12%);
  --secondary-foreground-dark: hsl(0, 0%, 78%);

  --accent: hsl(246, 50%, 25%);
  --accent-foreground: hsl(0, 0%, 94%);
  --accent-dark: hsl(249, 85%, 53%);
  --accent-foreground-dark: hsl(0, 0%, 94%);

  --card: var(--secondary);
  --card-foreground: var(--secondary-foreground);
  --card-dark: var(--secondary-dark);
  --card-foreground-dark: var(--secondary-foreground-dark);

  --popover: var(--secondary);
  --popover-foreground: var(--secondary-foreground);
  --popover-dark: var(--secondary-dark);
  --popover-foreground-dark: var(--secondary-foreground-dark);

  --destructive: oklch(0.577 0.245 27.325);

  --border: hsl(0, 0%, 74%);
  --border-dark: hsl(240, 6%, 34%);

  --input: var(--border);
  --input-dark: var(--border-dark);

  --muted: hsl(0, 0%, 80%);
  --muted-foreground: hsl(0, 0%, 40%);

  --muted-dark: hsl(0, 0%, 40%);
  --muted-foreground-dark: hsl(0, 0%, 80%);

  --ring: hsl(0, 0%, 63%);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar-background: var(--color-primary);
  --sidebar-foreground: var(--color-primary-foreground);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: var(--border);
  --sidebar-ring: hsl(0, 0%, 63%);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);

  --sidebar-background: hsl(0, 0%, 9%);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  svg:not([class*="lucide-"]) {
    color: inherit;
  }
}
